<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1><i class="fas fa-edit"></i> To Do App</h1>
        </header>

        <form action="create-task" method="POST">

            <div id="create-description">
                <p id="division-heading">DESCRIPTION</p>
                <input type="text" id="description" name="description" placeholder="What's do you need to add?">
            </div>
            
            <div id="second-row">
                <div id="create-category">
                    <p id="division-heading">CATEGORY</p>
                    <select id="category" name="category">
                        <option value="WORK">Work</option>
                        <option value="SCHOOL">School</option>
                        <option value="PERSONAL">Personal</option>
                        <option value="CLEANING">Cleaning</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
                
                <div id="create-due-date">
                    <p id="division-heading">DUE DATE</p>
                    <input type="date" id="due-date" name="dueDate" placeholder="Due Date">
                </div>
            </div>
            
            <div id="create-submit-btn">
                <button type="submit" id="task-button">Add Task</button>
            </div>
        </form>

        <div id="task-container">
            <ul>
                
                <%for (let i of todo_list){%>
                    <li id="details">
                        <div id="delete-task">
                            <a href="/delete-task/?id=<%= i._id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                        <div id="task">
                            <div id="task-first-row">
                                <p id="task-description"><%= i.description %></p>
                                <p id="task-category"><%= i.category %></p>
                            </div>
                            <div id="task-second-row">
                                <p><i class="fas fa-calendar-alt"></i>
                                    <%= i.dueDate %>
                                </p>
                            </div>
                        </div>  
                    </li>
                <%}%>
            </ul>
        </div>

        <script src="/js/home.js"></script>
    </body>

</html>